#temperaturaManual{
	width: 500px;
	float: left;
}


#corpoTermo{
	width: 500px;
	height: 700px;
}

#termometro{
	width: 600px;
	height: 600px;
}


/* Onde mercúrio sobe ou desce  */
#tubo{
	width: 50px;
	height:500px;
	position: absolute;
	top: 5%;
	left: 35%;
	background: #eee;
	border-radius: 50px ;
	z-index: 1;
	border: 2px solid #FFF;
}


/*
	Valores para flutuação do mercurio
	heigth  top
	400		 05
	300		 15
	200		 25
	100 	 35
	50		 40
*/

#mercurio{
	width: 50px;
	height: 400px;
	position: relative;
	top: 120px;
	left: 66%;
	transition: all 2s linear;


/*
	Valores para flutuação do mercurio
	heigth  top
	400		 05
	300		 15
	200		 25
	100 	 35
	50		 40
*/
	background: red;
	border-radius: 20px 20px 0 0;
	z-index: 3;
}

/* Parte de baixo do termometro, "reservatório" de mercúrio */
#bulbo{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: red;
	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 2;
}


#graus{
	transform: rotate(270deg);
	color: red;
}