#temperaturaManual{
	width: 500px;
	float: left;
}


#corpoTermo{
	width: 500px;
	height: 700px;
}

#termometro{
	width: 600px;
	height: 700px;
}


/* Onde mercúrio sobe ou desce  */
#vidro, #tubo{
	width: 50px;
	height:600px;
	position: absolute;
	top: 5%;
	left: 35%;
	background: #eee;
	border-radius: 50px ;
	z-index: 1;
	border: 2px solid #FFF;
}

#vidro{
	opacity: 0.0;
	background: #fff;
	z-index: 4;
	border: 1px solid #ccc
}




#mercurio{
	width: 50px;
	height: 10px;
	position: relative;
	top: 620px;
	left: 55%;
	transition: all 2s linear;
	background: red;
	border-radius: 20px 20px 0 0;
	z-index: 3;
}

/* Parte de baixo do termometro, "reservatório" de mercúrio */
 #bulbo{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: red;
	position: absolute;
	top: 50%;
	left: 30%;
	z-index: 2;
}


#vidro-bulbo{
	width: 70px ;
	height: 110px;
	z-index: 3;
	position: absolute;
	top: 42%;
	left: 38%;
	border-radius: 0% 50% 50% 0%;
	background-image: linear-gradient( to right, white, purple;
}

#graus{
	transform: rotate(270deg);
	color: red;

}